<%- include('../../fragment/header.ejs')%>

<main>
    <h2>Trips list</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Name</th>
            <th>DateFrom</th>
            <th>DateTo</th>
            <th>MaxPeople</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <%for (let trip of trips) { %>
            <tr>
                <td><%= trip.name %></td>
                <td><%= trip.dateFrom.toISOString().split('T')[0] %></td>
                <td><%= trip.dateTo.toISOString().split('T')[0] %></td>
                <td><%= trip.maxPeople %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/trips/details/<%=trip._id%>" class="list-actions-button-details">Details</a></li>
                        <li><a href="/trips/edit/<%=trip._id%>" class="list-actions-button-edit">Edit</a></li>
                        <li><a href="/trips/delete/<%=trip._id%>" class="list-actions-button-delete">Delete</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <p><a href="/trips/add" class="button-add">Add new trip</a></p>
</main>

<%- include('../../fragment/footer.ejs')%>